body {
  display: flex;
  background-color: white;
}

.receipts-container {
  display: flex;
  flex-direction: row;
  color: black; 
 
}

.receipt-container {
  background-color: white;
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: 1px solid black
}
.category-text {
  color: green;
}
.name-text {
  font-size: 30px;
}

h1 {
  margin: 10px;
  color: black
}

h2 {
  font-size: 15px;
}