body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

li {
    text-transform: capitalize;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 10px 10px;
    width: 300px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}